* {
  margin: 0;
  padding: 0;
}

body {
  font-family: calibri;
}

header {
  background: #9C90E4;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

img {
  width: 125px;
  display: block;
  margin: 1.5em auto;
  background-color: blue,
}

#formContainer {
  width: 440px;
  margin: 0 auto;
}

.textArea {
  display: block;
  width: 400px;
  height: 200px;
  padding: 1em;
  border-radius: 15px;
  font-size: 1.5em;
  background: #FFC4FF;
  border: 3px solid #FFC4FF;
  color: black;
}

.textArea:focus {
   /* entfernt automatisches border */
   outline: none;
   border-color: silver;
}

#select__stuff {
  background-color: red;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

#select__emoji {
  font-size: 1.2em;
}

#select__entry--backgroundColor {
  height: 21px;
  width: 21px;
  background-color: blue;
  border-radius: 50%;
}

#select__entry--fontFamily {
  font-size: 1.8em;
  font-weight: 700;
}

#select__emoji:hover,
#select__emoji:focus,
#select__entry--backgroundColor:hover,
#select__entry--backgroundColor:focus,
#select__entry--fontFamily:hover,
#select__entry--fontFamily:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.submitButton {
  padding: 0.6em 1.2em;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background: #E58DD7;
  border: none;
  margin-left: 330px;
  outline: none;
}

.submitButton:hover,
.submitButton:focus {
  color: white;
}

.entry-layout {
  display: grid;
  grid-template-areas: 
  "title . date"
  "content content content";
}

.new-entry {
  margin: 30px auto;
  text-align: center;
  width: 70%;
  min-height: 100px;
  padding: 1em;
  border-radius: 15px;
  background: #AC59A0;
  font-size: 1.5em;
  color: white;
}

.new-entry:last-child {
  margin-bottom: 110px;
}

.entry-title {
  grid-area: title;
}

.date {
  font-size: 0.7em;
  word-spacing: 1px;
  grid-area: date;
}

.entry-content {
  grid-area: content;
}

footer {
  background: #9C90E4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  text-align: right;
  padding: 1em 1.5em;
}
