* {
  margin: 0;
  padding: 0;
}

body {
  font-family: calibri;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 30px;
  text-align: center;
  background: blue;
  padding: 10px 0;
}

.form-container {
  width: 440px;
  margin: 0 auto;
  background: yellow;
}

.textField {
  display: block;
  width: 400px;
  height: 200px;
  padding: 1em;
  border-radius: 15px;
  border: 2px solid;
  font-size: 1.5em;
  border-color: red lightblue lightblue red;
}

.textField:focus {
    outline: unset; /* entfernt automatisches border */
}

.btn-container {
  width: 440px;
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  padding: 0.6em 1.2em;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  background: pink;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  text-align: right;
  padding: 1em 1.5em;
}
